#login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.field {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    margin-top: 10px;
}

.field:focus::placeholder {
    color: transparent;
}

.field::placeholder {
    color: #222;
    transition: color 0.3s ease;
}

button {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    margin-top: 10px;
}